/***********************************************

Autores: Lucas Moltedo - Martín Reser

***********************************************/

/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */

/* Estilos sidebar lateral izquierdo */

aside.lateral-izquierdo{
    background-color: #273b55;
    width: 13%;
    height: 90%;
}

.user-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #476387;
}

.user-perfil img {
    min-width: 100px;
    max-width: 60%;
    margin: 10px;
    border-radius: 50%;
}

.user-perfil h3{
    color: #fbf4e8;
    text-align: center;
    padding: 5px;
}

div.menu-opciones ul li{
    padding: 10px;
}


div.menu-opciones ul li a{
    display: flex;
    text-decoration: none;
    color:#fbf4e8;
}

div.menu-opciones ul li a:hover{
    color: #eb4c49;
    transition: all 0,5s linear;
}

div.menu-opciones ul li p{
    margin-left: 5%;
}


/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */

/* Estilos body */

body{
    flex-wrap: wrap;
    height: 100%;
}

/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */

/* Estilos main */

main {
    background-color: #fbf4e8;
    width: 87%;
    height: 40%;
    display: flex;
    align-items: center;
}

/* Detalles del usuario */

div.user-detalles{
    width: 50%;
    padding: 5px;
    background-color: #476387;
    margin: 5px;
}

h4.user-detalles-titulo{
    background-color: #273b55;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fbf4e8;
}

.plantilla-datos{
    display: flex;
    font-size: 17px;
    padding: 15px;
}

.plantilla-datos p.dato-titulo{
    text-align: left;
    font-weight: bold;
    width: 30%;
}

.plantilla-datos a.editar{
    text-align: right;
    margin-left: auto;
    color: black;
    text-decoration: none;
}

.plantilla-datos a.editar:hover{
    color: #fbf4e8;
    transition: 0.5s ease;
}

#editar-info-personal{
    margin-left: auto;
    background-color: #273b55;
    color: #fbf4e8;
    cursor: pointer;
}

#editar-info-personal:hover{
    background-color: #476387;
    transition: 0.2s ease;
    color: #fbf4e8;
}

.estilo-input{
    background-color: #e7e7e7;
    box-shadow: 0 0 20px #000000;
    border: none;
    border-radius: 15px;
    text-align: center;
}

input.placeholder{
    text-align: center;
}

/* Botones submit y editar */

.boton-info{
    padding: 2px;
    margin-left: auto;
    background-color: #273b55;
    color: #fbf4e8;
    cursor: pointer;
}

.boton-info:hover{
    background-color: #476387;
    transition: 0.2s ease;
    color: #fbf4e8;
}

/* Editor de info del usuario */

.plantilla-datos label.dato-titulo{
    text-align: left;
    font-weight: bold;
    width: 30%;
}


/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */

/* Estilos footer */

footer{
    width: 100%;
    height: 10%;
}

.footer-content{
    padding: 5px;
    text-align: center;
}

.footer-content h3{
    font-size: 20px;
    color: #eb4c49;
}

.footer-content p{
    font-size: 15px;
    color: #fbf4e8;
}

.footer-content a{
    text-decoration: none;
    color:#fbf4e8;
}

.footer-content a:hover{
    color: #eb4c49;
}

.footer-content a i{
    font-size: 25px;
}

