/***********************************************

Autores: Lucas Moltedo - Martín Reser

***********************************************/

/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */

/* Estilos sidebar lateral izquierdo */

aside.lateral-izquierdo{
    background-color: #273b55;
    width: 13%;
}

.user-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #476387;
}

.user-perfil img {
    min-width: 100px;
    max-width: 60%;
    margin: 10px;
    border-radius: 50%;
}

.user-perfil h3{
    color: #fbf4e8;
    text-align: center;
    padding: 5px;
}

div.menu-opciones ul li{
    padding: 15px;
}


div.menu-opciones ul li a{
    display: flex;
    text-decoration: none;
    color:#fbf4e8;
}

div.menu-opciones ul li a:hover{
    color: #eb4c49;
    transition: all 0,5s ease;
}

div.menu-opciones ul li p{
    margin-left: 5%;
}


/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */

/* Estilos body */

body{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 98px;
    min-height: 100vh;
}

/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */

/* Estilos main */

main {
    background-color: #fbf4e8;
    width: 87%;
    display: flex;
}

/* Detalles del usuario */

#info-personal.active{
    display: none;
}

#info-seguridad.active{
    display: none;
}

div.user-detalles{
    padding: 5px;
    background-color: #476387;
    margin: 5px;
    width: 50%;
    height: 98%;
    display: flex;
    flex-direction: column;
}

h4.user-detalles-titulo{
    width: 100%;
    background-color: #273b55;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fbf4e8;
}

.plantilla-datos{
    display: flex;
    font-size: 16px;
    padding: 14px;
}

.plantilla-datos p.dato-titulo{
    font-weight: bold;
    width: 40%;
}

.plantilla-datos a.editar{
    text-align: right;
    margin-left: auto;
    color: black;
    text-decoration: none;
}

.plantilla-datos a.editar:hover{
    color: #fbf4e8;
    transition: 0.5s ease;
}

#editar-info-personal{
    margin-left: auto;
    background-color: #273b55;
    color: #fbf4e8;
    cursor: pointer;
}

#editar-info-personal:hover{
    background-color: #476387;
    transition: 0.2s ease;
    color: #fbf4e8;
}

.estilo-input{
    background-color: #e7e7e7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 8px #000000;
    width: 250px;
    text-align: center;
}

input.placeholder{
    text-align: center;
}

/* Botones submit y editar */

.boton-info{
    margin-top: auto;
    align-self: flex-end;
    padding: 4px;
    background-color: #273b55;
    color: #fbf4e8;
    border: 2px solid transparent;
    cursor: pointer;
}

.boton-info:hover{
    background-color: #476387;
    border: 2px solid black;
    transition: 0.2s ease;
}

/* Editor de info del usuario */

.boton-info-datos{
    margin-left: 5%;
}

#editor-info-personal{
    display: none;
}

#editor-info-personal.active{
    display: block;
    min-width: 50%;
}

#editor-info-seguridad{
    display: none;
}

#editor-info-seguridad.active{
    display: block;
    min-width: 50%;
}

.plantilla-datos label.dato-titulo{
    text-align: left;
    font-weight: bold;
    width: 30%;
}

.header-editar-info{
    display: flex;
    align-items: center;
}

.boton-cerrar-personal{
    /* Botón para cancelar la edición de datos */
    color: #fbf4e8;
    cursor: pointer;
    position: absolute;
    margin-left: 1%;
}

.boton-cerrar-seguridad{
    /* Botón para cancelar la edición de datos */
    color: #fbf4e8;
    cursor: pointer;
    position: absolute;
    margin-left: 1%;
}

div.user-detalles form{
    display: flex;
    flex-direction: column;
    height: 92%;
}


/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */

/* Estilos footer */

footer{
    position: absolute;
    height: 98px;
    bottom: 0;
    width: 100%;
}

.footer-content{
    padding: 5px;
    text-align: center;
}

.footer-content h3{
    font-size: 20px;
    color: #eb4c49;
}

.footer-content p{
    font-size: 15px;
    color: #fbf4e8;
}

.footer-content a{
    text-decoration: none;
    color:#fbf4e8;
}

.footer-content a:hover{
    color: #eb4c49;
}

.footer-content a i{
    font-size: 25px;
}

/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */

/* ESTILOS PANTALLAS ANCHO MENOR A 1150px */

@media screen and (max-width: 1150px){
    /* ESTILOS CONTENTIDO PRINCIPAL MAIN*/
    main{
        flex-direction: column;
    }
    div.user-detalles{
        width: 99%;
    }
    aside.lateral-izquierdo{
        min-width: 165px;
    }
    body{
        flex-wrap: nowrap;
    }
}

/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */

/* ESTILOS PANTALLAS ANCHO MENOR A 620px */

@media screen and (max-width: 620px){
    /* ESTILOS BODY*/
    body{
        flex-direction: column;
    }
    /* ESTILOS CONTENTIDO PRINCIPAL MAIN*/
    main{
        width: 99%;
    }
    div.user-detalles{
        width: 99%;
    }
    /* ESTILOS ASIDE */
    aside.lateral-izquierdo{
        width: 100%;
    }
    div.user-perfil{
        max-width: 100%;
    }
}