body{
    background-color: rgb(206, 206, 206);
}

ul{
    display: flex;
    flex-direction: column;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

.widget{
    background-color: white;
    width: 200px;
    height: 150px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.cantidad{
    font-size: 25px;
    color: red;
    margin: 5px 0px 5px 0px;
}

.porcentaje{
    color: rgb(0, 187, 0);
}

.porcentaje_div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: baseline;
}

#first_box{
    display: flex;
    flex-direction: row;
}

a > span{
    margin-right: 15px;
}

.porcentaje_div:nth-child(2){
    font-size: 1px;
    
}
