/***********************************************

Autores: Lucas Moltedo - Martín Reser

***********************************************/

/* IMPORTAMOS UNA FUENTE */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mende+Kikakui&display=swap');

/* ESTILOS GENERALES*/ 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
}