/***********************************************

Autores: Lucas Moltedo - Martín Reser

***********************************************/

/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */

/* ESTILOS Configurar dashboard - barra izquierda*/

#menu-dashboard {
    background-color: #273b55;
    color: #fbf4e8;
    width: 20%; /* Ancho */
}

#menu-dashboard form h3{
    padding: 12px 10px; /* Espaciado, 12 arriba y abajo, 10 a los lados */
    text-align: center;
    background-color: #476387;
}

#menu-dashboard form p label{
    border-top: 1px solid #476387;
    width: 100%;
    padding: 5px 10px; /* Espaciado, 5 arriba y abajo, 10 a los lados */
    display: inline-block;
}

#menu-dashboard form p label input{
    margin-left: 85%;
}

/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */

/* ESTILOS Contenido principal */

#content {
    background-color: #fbf4e8;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.plantilla-widget {
    background-color: #273b55;
    margin: 4px;
    color: #ffffff;
    flex-grow: 1;
    text-align: center;
}

div.plantilla-widget:last-child{
    max-width: 100%;
}

.plantilla-widget h4 {
    padding: 5px;
}

.plantilla-widget h5 {
    font-size: 15px;
    padding: 5px;
}

#satisfaccion-usuarios img {
    padding: 5px;
    min-width: 150px;
    max-width: 250px;
}

#stockProductos img {
    min-width: 50px;
    max-width: 150px;
}

#satisfaccion-usuarios p {
    color: #82cc00; 
    /* Le ponemos el color de la escala de satisfacción de los clientes */
}

/* Diseños para el widget de stock de productos */
#stock-widget {
    padding: 5px;
    display: flex;
    align-items: center;
}

.productos-widget {
    margin-left: auto;
    text-align: end;
}

.productos-widget p:nth-child(1) {
    color: #fca9a8;
}

.productos-widget p:nth-child(2) {
    color: #bdd0fd;
}

.productos-widget p:nth-child(3) {
    color: #c7fcbc;
}

.productos-widget p:nth-child(4) {
    color: #f8fca9;
}

.productos-widget p:last-child{
    color: #fdbefb
}


.grafico {
    min-width: 50px;
    max-width: 100px;
}

.cantidad{
    font-size: 25px;
    color: red;
    margin: 5px 0px 5px 0px;
}

.porcentaje-up{
    color: rgb(0, 187, 0);
}

.porcentaje-down{
    color: red;
}

.porcentaje_div{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-content: baseline;
}

.porcentaje_div:nth-child(2){
    font-size: 1px;
}

/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */

/* ESTILOS ASIDE - BARRA SECUNDARIA */

#barra-secundaria{
    background-color: #273b55;
    text-align: center;
    display: flex;  /* Hacemos que ult ventas y empleados salgan uno al lado del otro */
}

#barra-secundaria div h4{
    color: #fbf4e8;
    background-color: #476387;
    text-transform: uppercase; /* Mayúsculas */
}

#separador{ /* La linea que separa últimas ventas y empleados */
    width: 2px;
    background-color: #476387;
}

#barra-secundaria div ul li {
    list-style: none; /* Listas sin diseño */
    padding: 10px;
    color: #fbf4e8;
    /* Con esto hacemos que se vea de arriba para abajo: foto - nombre - precio */
}

#barra-secundaria div ul li a p{ /* Botón "ver más" */
    color: #fbf4e8;
    border-top: 2px solid #476387;
    font-weight: bold; /* Negrita */
}

#barra-secundaria div ul li a p:hover{
    background-color: #476387;
    cursor: pointer;
    transition: 0.5s ease;
}

#barra-secundaria div ul li img{
    width: 125px;
    height: 125px;
    background-color: #ffffff;
}

#barra-secundaria div.info-secundaria {
    width: 100%;
}

/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */

/* ESTILOS PANTALLAS MENORES A 1100px */

@media screen and (max-width: 1100px){
    /* ESTILOS Configurar dashboard - barra izquierda*/
    #menu-dashboard form p label{
        padding: 20px 10px; 
    }
} 

/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */

/* ESTILOS PANTALLAS MENORES A 900px */

@media screen and (max-width: 900px){
    /* ESTILOS Configurar dashboard - barra izquierda*/
    #menu-dashboard form p label{
        padding: 20px 10px;
    }

    /* ESTILOS ASIDE - BARRA SECUNDARIA */
    #barra-secundaria{
        flex-direction: column; /* Hacemos que ult ventas y empleados salgan uno abajo del otro */
    }
} 

/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */

/* ESTILOS PANTALLAS MENORES A 750px */

@media screen and (max-width: 750px){
    /* ESTILOS BODY */
    body{
        flex-direction: column;
    }

    /* ESTILOS CONTENIDO PRINCIPAL */
    main {
        order: 1;
    }

    /* ESTILOS Configurar dashboard - barra izquierda*/
    #menu-dashboard {
        width: 100%; /* Ancho */
        order: 3;
    }
    #menu-dashboard form h3{
        padding: 15px 10px;
    }
    #menu-dashboard form p label{
        border-top: 3px solid #476387;
    }
    #menu-dashboard form p label input{
        margin-left: 99%;
    }

    /* ESTILOS ASIDE - BARRA SECUNDARIA */
    aside {
        order: 2;
    }
    #barra-secundaria{
        flex-direction: row; /* Vuelve al diseño original */
    }
}