/***********************************************

Autores: Lucas Moltedo - Martín Reser

***********************************************/

/*ESTILOS PARA EL ENCABEZADO */

header{
    width: 100%;
    height: 100px;
    background-color: #273b55;
    position: fixed; /* Posición fija */
    top: 0%; /* Sin margen superior */
    display: flex; 
}

header h1 {
    margin-right: auto;  /* Colocamos el logo a la izquierda */
    line-height: 100px;
    font-size: 22px;
    margin-left: 50px;
    color: #eb4c49;
}

/* Botones del menú */

nav.menu {
    margin-left: auto;  /* Colocamos los botones a la derecha */
    line-height: 100px;
}


nav.menu button.boton-menu {
    background-color:  transparent; /* Borramos fondo de los botones */
    border: 0; /* Quitamos los bordes de los botones */
    border-left: 1px solid #ffffff; /* Agregamos separadores a los botones con un borde a la izquierda */
    padding: 15px; /* Relleno de 15px en todas las direcciones */
    color: #ffffff;
    cursor: pointer;
}

nav.menu button.boton-menu:nth-child(1){
    border-left: none; /* Borramos el separador primer botón */
}

nav.menu button.boton-menu:hover {
    color: #2f2e2e;
    background-color: #eb4c49; /* Efecto cambio de color al pasar el cursor */
    transition: 0.5s ease;
}

nav.menu button.boton-menu a {
    text-decoration: none;  /* ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ NO FUNCIONA !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}

/* Barra de busqueda */

#search-bar input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 40px;
    font-size: 17px;
}

#search-bar button {
    padding: 6px;
    background: rgb(255, 255, 255);
    font-size: 15px;
    border: none;
    cursor: pointer;
}


/* ####################################################################################################### */

/*ESTILOS PARA LA BARRA LATERAL */

#sidebar {
    position: fixed; /* Posición fija */
    width: 200px; /* Ancho */
    height: 100%; /* Altura */
    background-color: #273b55;
    left: -200px; /* Debido a que el ancho es de 200, con esto ocultaremos la barra lateral */
    transition: all 500ms linear;
}

#sidebar.active {
    left: 0; /* Damos visualización a la barra lateral */
    
}

#sidebar ul li {
    padding: 15px 10px; /* Espaciado, 15 arriba y abajo, 10 a los lados */
    border-bottom: 1px solid #476387;
    list-style: none; /* Listas sin diseño */
}

#sidebar ul li a{
    text-decoration: none;
    color: #ffffff;
}

#sidebar ul li a:hover{
    color: #eb4c49;
    transition: all 0,5s linear;
}

#sidebar ul li a span{
    color: #eb4c49;
}

#sidebar ul li div{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
} 

div.sidebar-button {
    position: absolute; /* Se coloca encima de los demás elementos */
    top: 35px; /* Margin top */
    margin-left: 5px;
    cursor: pointer;
}

div.sidebar-button span {
    width: 40px;
    text-align: center;
    font-size: 30px;
    color: #000000;
    background-color: #eb4c49;
    border: 2px solid #000000;
}

div.sidebar-button span:hover {
    color: #273b55;
    background-color: #fb5350;
    border: 2px solid #273b55;
}



/* ####################################################################################################### */

/* ESTILOS BODY */

body{
    background-color: #ffffff;
    padding-top: 100px; /* El relleno es igual a la altura del encabezado para que no lo tape */
    display: flex;
}

/* ####################################################################################################### */

/* ESTILOS MAIN */

main {
    display: flex;
}

#content {
    margin-top: 2px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.plantilla-widget {
    background-color: #273b55;
    text-align: center;
    justify-content: center;
    width: 33%;
    height: 23%;
    margin: 2px;
    color: #ffffff;
}

.plantilla-widget h5 {
    font-size: 15px;
}

.grafico {
    width: 30%
}

.grafico:hover {
    position: relative; /* Posicion relativa para que se superponga a los demás widgets en caso de ser necesario */
    width: 100%; /* Zoom a los graficos al pasar el mouse */
    background-color: #273b55;
}

.cantidad{
    font-size: 25px;
    color: red;
    margin: 5px 0px 5px 0px;
}

.porcentaje{
    color: rgb(0, 187, 0);
}

.porcentaje_div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: baseline;
}

.porcentaje_div:nth-child(2){
    font-size: 1px;
}

/* ####################################################################################################### */

/* ESTILOS ASIDE - BARRA SECUNDARIA */

#barra-secundaria{
    background-color: #eb4c49;
    text-align: center;
    display: flex;
}

#separador{ /* La linea que separa últimas ventas y empleados */
    width: 2px;
    background-color: #476387;
}

#barra-secundaria div ul li {
    list-style: none; /* Listas sin diseño */
    padding: 10px;
    background-color: #273b55;
    color: #ffffff;
}

#barra-secundaria div ul li img{
    width: 150px;
    height: 150px;
    background-color: #ffffff;
}
