#sidebar {
    position: fixed; /* Posición fija */
    width: 200px; /* Ancho */
    height: 100%; /* Altura */
    background-color: #273b55;
    left: -200px; /* Debido a que el ancho es de 200, con esto ocultaremos la barra lateral */
    transition: all 500ms linear;
}

#sidebar.active {
    left: 0; /* Damos visualización a la barra lateral */
}

#sidebar ul li {
    text-align: left; /* Elementos tirados a la izquierda */
    padding: 15px 10px; /* Espaciado, 15 arriba y abajo, 10 a los lados */
    border-bottom: 1px solid #eb4c49;
    list-style: none; /* Listas sin diseño */
}

#sidebar ul li a{
    text-decoration: none;
    color: #ffffff;
}

#sidebar .sidebar-button {
    position: absolute; /* Se coloca encima de los demás elementos */
    left: 230px; /* Se coloca fuera de la sidebar */
    top: 20px; /* Margen superior */
    cursor: pointer;
}

#sidebar .sidebar-button span {
    display: block; /* Comportamiento en bloque */
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 1px solid black
}
